@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <h2>@ViewData["Head"]</h2>
    <h2>@ViewBag.Head1</h2>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@Html.TextBox("name", (string)ViewBag.Head)


<div class="row">
    <div class="col-md-12">
       <h2>Хочу посмотреть Фильм</h2>


       <table>
           <tr>
               <td>Название фильма</td>
               <td>Автор</td>
               <td>Дата релиза</td>
               <td>Студия</td>
               <td> </td>
           </tr>

          @* @foreach (var b in ViewBag.Movies)
           {
               <tr>
                   <td>@b.Name</td>
                   <td>@b.Author</td>
                   <td>@b.Date</td>
                   <td>@b.CreatedBy</td>
                   <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
               </tr>
                   }*@
           </table>
    </div>
</div>